<div class="jumbotron mt-4">
    <h1 class="display-4">Note App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem optio 
        fugiat sunt minima? Molestias deserunt facilis non, amet deleniti rem quas 
        maiores dolores odit aperiam? Enim reiciendis suscipit laudantium libero.</p>
        <a href="#" class="btn btn-primary btn-lg">John's Web</a>
</div>